body {
  overflow: hidden;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  background-image: url("./../home_back.jpg");
  background-attachment: fixed;
  background-position: center;
  background-color: #cccccc;
}

.welcome-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  padding: 230px;
}

.homebutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #AAAAAA;
  border: none;
  color: white;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.homebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homebutton span:after {
  content: '👇🏻';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.homebutton:hover span {
  padding-right: 25px;
  color: white;
}

.homebutton:hover span:after {
  opacity: 1;
  right: 0;
}

.userinfo {
  position: absolute;
  display: block;
  text-align: right;
  padding-right: 30px;
  padding-top: 15px;
  height: 100%;
  width: 300px;
  top: 0px;
  right: 0px;
  z-index: 999;
}

