{% extends 'base.html' %}
{% load static %}
<body>
    
    {% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <span style="font-size:28px;cursor:pointer" onclick="openNav()">&#9776; menu</span>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="home"><i class="fa fa-home fa-lg"><br>Home</i></a>
            <br>
            <a href="profile"><i class="fas fa-user-circle fa-lg"><br>Profile</i></a>
            <br>
            <a href="surveys/create/"><i class="fas fa-poll fa-lg"><br>Create Survey</i></a> 
            <br>
            <a href="polls"><i class="fas fa-poll fa-lg"><br>Polls</i></a> 
            <br>
            <a href="logout"><i class="fas fa-sign-out-alt fa-lg"><br>Log out</i></a> 
        </div>
    </div>
    

    
    {% endblock content %}
</body>
